@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
    --color-background: #0f172a;
    --color-primary: #8b5cf6;
    --color-secondary: #ec4899;
    --color-accent: #06b6d4;
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply bg-background text-slate-100 font-sans antialiased;
    }
}